<!-- PARTIAL DEL HEAD -->
<%- include ('./partials/head') %>

<!-- PARTIAL DEL HEADER -->
<%- include ('./partials/header') %>

<main>
    <section>
        <article>
            <p>Steven Navarro</p>
            <p>Full Stack Web Developer</p>
        </article>

        <article>
            <button>Learn more</button>
        </article>

        <article>
            <img src="/images/github.webp" alt="github">
            <img src="/images/linkedin.webp" alt="linkedin">
            <img src="/images/discord.webp" alt="discord">
            <img src="/images/gmail.webp" alt="gmail">
        </article>
    </section>

    <section>
        <article>
            <p>My tools and technologies</p>
        </article>

        <article>
            <img src="/images/AppIcons/node.webp" alt="node icon">
            <img src="/images/AppIcons/javascript.webp" alt="javascript icon">
            <img src="/images/AppIcons/css.webp" alt="css icon">
            <img src="/images/AppIcons/html.webp" alt="html icon">
            <img src="/images/AppIcons/react.webp" alt="react icon">
            <img src="/images/AppIcons/express-js.webp" alt="express-js icon">
            <img src="/images/AppIcons/postgresql.webp" alt="postgresql icon">
            <img src="/images/AppIcons/trello.webp" alt="trello icon">
            <img src="/images/AppIcons/git.webp" alt="git icon">
            <img src="/images/AppIcons/java.webp" alt="java icon">
            <img src="/images/AppIcons/figma.webp" alt="figma icon">
            <img src="/images/AppIcons/postman.webp" alt="postman icon">
            <img src="/images/AppIcons/ejs.webp" alt="ejs icon">
            <img src="/images/AppIcons/sequelize.webp" alt="sequelize icon">
            <img src="/images/AppIcons/tailwind-css.webp" alt="tailwind-css icon">
            <img src="/images/AppIcons/mysql.webp" alt="mysql icon">
        </article>
    </section>

    <section>
        <article>
            <p>Education and Experience</p>
        </article>

        <article>
            <article>
                <div>
                    <img src="/images/ud.webp" alt="District University">
                </div>
    
                <div>
                    <p>Systems engineer</p>
    
                    <p>6th semester</p>
                </div>
            </article>

            <article>
                <div>
                    <img src="/images/dh.webp" alt="Digital House">
                </div>
    
                <div>
                    <p>Web developer full stack</p>
    
                    <p>Completed</p>
                </div>
            </article>
        </article>
    </section>
</main>


<%- include ('./partials/footer') %>