<!-- PARTIAL DEL HEAD -->
<%- include ('./partials/head') %>

    <!-- PARTIAL DEL HEADER -->
    <%- include ('./partials/header') %>


        <main class="p-60 bg-sky-600">

        </main>

        <%- include ('./partials/footer') %>