    <footer class="bg-black flex flex-col justify-center items-center sm:flex-row sm:flex-wrap sm:pt-12">
        <article class="pt-5 sm:w-[30%] sm:pt-0 lg:w-1/3">
            <p class="font-moda text-smoke-white text-2xl sm:ml-12 sm:text-3xl lg:ml-24">StexRoles</p>
        </article>

        <article class="text-smoke-white mt-10 text-center mx-10 text-sm sm:w-[30%] sm:mx-0 sm:mt-0 sm:text-start lg:w-1/3">
            <p class="font-bold pb-2 sm:pb-4">About</p>
            <p>
                Thank you very much for taking the time to
                 review my story, I developed this portfolio in 
                order to show my work journey and what will 
                continue to be my professional career.
            </p>
        </article>

        <article class="sm:w-[30%] sm:flex sm:flex-col sm:items-center lg:w-1/3">
            <p class="hidden text-lg text-smoke-white text-center font-bold sm:block">Contact me:</p>

            <article class="flex items-center justify-between w-56 my-9 sm:my-4 sm:justify-evenly">
                <a href="https://github.com/StexRoles" target="_blank"><img class="h-8 w-8 hover:scale-110 transition-all" src="/images/github.webp" alt="github"></a>
                <a href="https://www.linkedin.com/in/steven-navarro-parrales/" target="_blank"><img class="h-8 w-8 hover:scale-110 transition-all" src="/images/linkedin.webp" alt="linkedin"></a>
                <a href="https://x.com/StexRoles?t=0_wHdwCjb_vLS7F3krZ82w&s=09" target="_blank"><img class="h-6 w-8 hover:scale-110 transition-all" src="/images/twitter.webp" alt="twitter"></a>
                <a href="mailto:stexroles@gmail.com"><img class="h-6 w-8 hover:scale-110 transition-all" src="/images/gmail.webp" alt="gmail"></a>
            </article>  
        </article>

        <article class="text-xs font-light text-smoke-white pb-4 sm:mt-8">
            <p>© Copyright 2024</p>
        </article>
    </footer>
</body>
</html>