    <footer class="bg-black flex flex-col justify-center items-center">
        <article class="pt-5">
            <p class="font-moda text-smoke-white text-2xl">StexRoles</p>
        </article>

        <article class="text-smoke-white mt-10 text-center mx-10 text-sm">
            <p class="font-bold pb-2">About</p>
            <p>
                Thank you very much for taking the time to
                 review my story, I developed this portfolio in 
                order to show my work journey and what will 
                continue to be my professional career.
            </p>
        </article>

        <article>
            <p class="hidden">Contact me:</p>

            <article class="flex items-center justify-between w-56 my-9">
                <a href="https://github.com/StexRoles" target="_blank"><img class="h-8 w-8" src="/images/github.webp" alt="github"></a>
                <a href="https://www.linkedin.com/in/steven-navarro-parrales/" target="_blank"><img class="h-8 w-8" src="/images/linkedin.webp" alt="linkedin"></a>
                <a href="https://x.com/StexRoles?t=0_wHdwCjb_vLS7F3krZ82w&s=09" target="_blank"><img class="h-6 w-8" src="/images/twitter.webp" alt="twitter"></a>
                <a href="mailto:stexroles@gmail.com"><img class="h-6 w-8" src="/images/gmail.webp" alt="gmail"></a>
            </article>  
        </article>

        <article class="text-xs font-light text-smoke-white pb-4">
            <p>© Copyright 2024</p>
        </article>
    </footer>
</body>
</html>