    <footer>
        <article>
            <p>StexRoles</p>
        </article>

        <article>
            <p>About</p>
            <p>
                Thank you very much for taking the time to
                 review my story, I developed this portfolio in 
                order to show my work journey and what will 
                continue to be my professional career.
            </p>
        </article>

        <article>
            <p>Contact me:</p>

            <article>
                <img src="/images/github.webp" alt="github">
                <img src="/images/linkedin.webp" alt="linkedin">
                <img src="/images/discord.webp" alt="discord">
                <img src="/images/gmail.webp" alt="gmail">
            </article>
        </article>

        <article>
            <p>© Copyright 2024</p>
        </article>
    </footer>
</body>
</html>