<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: Steven Navarro Content: Work information, knowedge, projects and more relevant information for a portfolio">
    <meta name="keywords" content="Steven Navarro, StexRoles, Web Developer, Full Stack, Portfolio">

    <title>StexRoles</title>

    <!-- LINK FOR THE ICONS -->
    <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>

    <!-- LINK FOR TAILWIND CSS -->
    <link rel="stylesheet" href="/css/output.css">

    <!-- ICON FROM THE PAGE -->
    <link rel="icon" href="/images/icon.webp">

    <!-- LINK JS MENU PROCESSING -->
     <script src="/scripts/menu.js"></script>

    <!-- LINK JS DARK MODE -->
     <script src="/scripts/darkMode.js"></script>
</head>