<body> 
    <header>
        <article>
            <p>StexRoles</p>
        </article>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Projects</a></li>
            </ul>
        </nav>

        <nav>
            <i class="fa-solid fa-bars"></i>
        </nav>
    </header>
