<body class="font-montserrat">
    <header class="bg-black flex justify-between py-4">
        <article>
            <p class="font-moda text-smoke-white text-2xl ml-8 sm:ml-16 sm:mr-0 lg:ml-20 lg:text-3xl">StexRoles</p>
        </article>

        <nav class="hidden sm:block text-smoke-white w-1/2 ml-4">
            <ul class="flex justify-around items-center h-full text-lg font-medium lg:justify-evenly lg:text-xl">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Projects</a></li>
            </ul>
        </nav>

        <nav class="sm:hidden"> 
            <i class="fa-solid fa-bars text-smoke-white text-2xl mr-8" id="open-menu"></i>
        </nav>

        <article class="bg-black absolute w-full h-full left-0 top-0  text-smoke-white hidden transform transition-transform duration-1000 translate-x-full" id="menu">
            <article class="flex flex-col items-center w-full h-full justify-around">
                <p class="font-moda text-4xl mb-10 mt-5">StexRoles</p>
    
                <div class="flex flex-col items-start flex-grow">
                    <a href="/" class="text-2xl mb-10 font-medium">Home</a>
                    <a href="/about" class="text-2xl mb-10 font-medium">About</a>
                    <a href="/projects" class="text-2xl mb-10 font-medium">Projects</a>
                    <p class="text-2xl mb-10 font-medium" id="close-menu">Close</p>
                </div>

                <p class="text-xl font-light mb-4">© Copyright 2024</p>
            </article>
        </article>
    </header>